<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>CLE_API_A_REMPLACER</string>
	<key>GCM_SENDER_ID</key>
	<string>708937132152</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.evimt.evimt</string>
	<key>PROJECT_ID</key>
	<string>evimt-database</string>
	<key>STORAGE_BUCKET</key>
	<string>evimt-database.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:708937132152:ios:cf0225bdcf52010d33e58d</string>
	<key>DATABASE_URL</key>
	<string>https://evimt-database-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>